#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_PYTHON_SYSTEM=pycentral
# DEB_PYTHON_DISTUTILS_INSTALLDIR_SKEL=/usr/lib/@PYTHONBINARY@/dist-packages/
# DEB_PYTHON_INSTALL_ARGS_ALL=--prefix=/usr --no-compile -O0 --install-layout=deb

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

install/mastermind-minion::
	mkdir -p debian/tmp/etc/elliptics/mastermind-minion
	cp etc/mastermind-minion-default.conf debian/tmp/etc/elliptics/mastermind-minion/mastermind-minion-default.conf
	cp etc/logging-default.conf debian/tmp/etc/elliptics/mastermind-minion/logging-default.conf
	mkdir -p debian/tmp/usr/local/bin/mastermind-minion
	cp sql/update_db.sh debian/tmp/usr/local/bin/mastermind-minion
	mkdir -p debian/tmp/var/lib/mastermind-minion/patches
	cp sql/patches/* debian/tmp/var/lib/mastermind-minion/patches

install/mastermind-minion-utils::
	mkdir -p debian/tmp/usr/bin
	cp usr/bin/minion debian/tmp/usr/bin/minion
